
<div class="container">
  <div class="row">
    <div class="col-3 bg-secondary">
      <punp-chat-sidebar></punp-chat-sidebar>
    </div>
    <div class="col-9 bg-primary pe-0">
      <punp-chat-main></punp-chat-main>
      <form class="d-flex p-2" (ngSubmit)="onSubmit()">
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter message" [formControl]="message">
        <button type="button" class="btn btn-light" (click)="onSubmit()">Send</button>
      </form>
    </div>
  </div>
</div>