div.container-md {
    height: 50rem;
    padding-left: 0;
    padding-right: 0;
}


.message-box {
    word-break: break-word;
    padding: 1rem;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}